main {
    display: flex;
    flex-direction: row;
  }

.test {
    align-content: center;
    justify-content: center;
    width: 100%;
}

.footer {
    position:absolute;
    bottom: 2vh;
    right: 2vh;
    margin: 0;
    padding: 0;
}